.logo {

  width: 168px;
  height: 34px;

  @include response-to('device-medium') {
    width: 280px;
    height: 57px;
  }

  &--footer {
    width: 144px;
    height: 69px;

    @include response-to('device-medium') {
      width: 240px;
      height: 115px;
    }
  }
}